### DEPENDENCIES & SETUP

In [ ]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
import datetime
import numpy as np
import psycopg2
from pandas.io.json import json_normalize

### EXTRACT (from CSV)

In [2]:
#Read Canada data from csv
csv_file1 = "../Resources/CAvideos.csv"
videos_ca = pd.read_csv(csv_file1)

In [3]:
#Add country columns
videos_ca.loc[:,'country_id'] = 'CA'
videos_ca.loc[:,'country'] = 'Canada'

In [4]:
#retain required columns
videos_ca_subset = videos_ca[["country_id","country","video_id","category_id","trending_date","title","publish_time","likes","dislikes","views",
                              "comment_count","comments_disabled","ratings_disabled","description"]]

In [5]:
#Read Mexico data from CSV
csv_file2 = "../Resources/MXvideos.csv"
videos_mx = pd.read_csv(csv_file2, encoding='ISO-8859-1')

In [6]:
#Add country columns
videos_mx.loc[:,'country_id'] = 'MX'
videos_mx.loc[:,'country'] = 'Mexico'

In [7]:
#retain required columns
videos_mx_subset = videos_mx[["country_id","country","video_id","category_id","trending_date","title","publish_time","likes","dislikes","views",
                              "comment_count","comments_disabled","ratings_disabled","description"]]

In [8]:
#Read US data from CSV
csv_file3 = "../Resources/USvideos.csv"
videos_us = pd.read_csv(csv_file3)

In [9]:
#add country columns
videos_us.loc[:,'country_id'] = 'US'
videos_us.loc[:,'country'] = 'United States'

In [10]:
#retain required columns
videos_us_subset = videos_us[["country_id","country","video_id","category_id","trending_date","title","publish_time","likes","dislikes","views",
                              "comment_count","comments_disabled","ratings_disabled","description"]]

### EXTRACT (from JSON)

In [11]:
#dependencies
import json
import os

from pandas.io.json import json_normalize #package for flattening json in pandas df

In [12]:
# Load JSON for US categories
filepath = os.path.join("../Resources", "US_category_id.json")
with open(filepath) as jsonfile:
    us_video_json = json.load(jsonfile)

In [13]:
#Extract category id
us_video_json['items'][0]['id']

'1'

In [14]:
#Extract category name
us_video_json['items'][0]['snippet']['title']

'Film & Animation'

In [15]:
#flattening the nested json to dataframe
us_video_json_normalized = json_normalize(us_video_json['items'])

#rename column names (id to category_id) and (snippet.title to category name)
us_video_json_normalized.rename(columns={'id':'category_id',
                          'snippet.title':'category_name'}, 
                 inplace=True)
us_video_json_normalized.head()

,etag,category_id,kind,snippet.assignable,snippet.channelId,category_name
0,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation
1,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles
2,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Music
3,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals
4,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Sports

In [16]:
#dataframe with video categories for category table
category = us_video_json_normalized[["category_id","category_name"]]
category.head(5)

  category_id     category_name
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports

### TRANSFORM

In [17]:
#concatenate all the three CSV extracted datasets (US+CA+MX) to one dataset for North America
files = [videos_us_subset, videos_ca_subset, videos_mx_subset]
videos_northamerica = pd.concat(files)

In [18]:
#format dates to standard form
videos_northamerica['trending_date_formatted'] = pd.to_datetime(videos_northamerica['trending_date'],format='%y.%d.%m')
videos_northamerica['publish_date_formatted']  = videos_northamerica['publish_time'].str[:10]

In [19]:
#remove records with no video_id
videos_northamerica = videos_northamerica[videos_northamerica.video_id != "#NAME?"]

In [20]:
#remove duplicates to retain unique video ids from the north america dataset
videos_northamerica_unique = videos_northamerica.drop_duplicates('video_id',keep='first')

#retain only the required columns for table1 ' videos'
videos = videos_northamerica_unique[["video_id","title","publish_date_formatted"]]

##### Table 1  | videos ###### (source: csv)

In [21]:
videos.head()

,video_id,title,publish_date_formatted
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,2017-11-13
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,2017-11-13
2,5qpjK5DgCt4,"Racist Superman | Rudy Mancuso, King Bach & Le...",2017-11-12
3,puqaWrEC7tY,Nickelback Lyrics: Real or Fake?,2017-11-13
4,d380meD0W0M,I Dare You: GOING BALD!?,2017-11-12

##### Table 2 | country
###### (from csv)

In [22]:
country = videos_northamerica.drop_duplicates('country_id',keep='first')
country = country[["country_id","country"]]
country.head()

  country_id        country
0         US  United States
0         CA         Canada
0         MX         Mexico

##### Table 3 | popularity
###### (from csv)

In [23]:
popularity = videos_northamerica[["country_id","video_id","category_id","trending_date_formatted","likes","dislikes","views",
                                  "comment_count","comments_disabled","ratings_disabled","description"]]
#popularity.loc[:,"id"] = np.arange(len(popularity))


popularity.insert(0, 'id', range(1, 1 + len(popularity)))
popularity.head(5)

,id,country_id,video_id,category_id,trending_date_formatted,likes,dislikes,views,comment_count,comments_disabled,ratings_disabled,description
0,1,US,2kyS6SvSYSE,22,2017-11-14,57527,2966,748374,15954,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,2,US,1ZAPwfrtAFY,24,2017-11-14,97185,6146,2418783,12703,False,False,"One year after the presidential election, John..."
2,3,US,5qpjK5DgCt4,23,2017-11-14,146033,5339,3191434,8181,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,4,US,puqaWrEC7tY,24,2017-11-14,10172,666,343168,2146,False,False,Today we find out if Link is a Nickelback amat...
4,5,US,d380meD0W0M,24,2017-11-14,132235,1989,2095731,17518,False,False,I know it's been a while since we did this sho...

##### Table 4 | category
###### (from json)

In [24]:
#flattening the nested json to dataframe
us_video_json_normalized = json_normalize(us_video_json['items'])

#rename column names (id to category_id) and (snippet.title to category name)
us_video_json_normalized.rename(columns={'id':'category_id',
                          'snippet.title':'category_name'}, 
                 inplace=True)
us_video_json_normalized.head()

,etag,category_id,kind,snippet.assignable,snippet.channelId,category_name
0,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation
1,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles
2,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Music
3,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals
4,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,youtube#videoCategory,True,UCBR8-60-B28hp2BmDPdntcQ,Sports

In [35]:
#dataframe with video categories for category table
category = us_video_json_normalized[["category_id","category_name"]]
category.head()

  category_id     category_name
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports

### LOAD

In [26]:
#dependencies
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\rima\anaconda3\lib\site-packages (2.8.3)

In [27]:
#connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/youtube_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [28]:
#check tables already created using the table schema sql generated from Quick database diagram
engine.table_names()

['country', 'popularity', 'videos', 'category']

##### Load Table 1 | video

In [29]:
#Use pandas to load csv converted DataFrame into database
videos.to_sql(name='videos', con=engine, if_exists='append', index=False)

##### Load Table 2 | country

In [30]:
#Use pandas to load csv converted DataFrame into database
country.to_sql(name='country', con=engine, if_exists='append', index=False)

##### Load Table 4 | category
##### Have to load Table 4 before Table 3 due to dependency (foreign key category_id)

In [33]:
category.to_sql(name='category', con=engine, if_exists='append', index=False)

##### Load Table 3 | popularity

In [34]:
#Use pandas to load csv converted DataFrame into database
popularity.to_sql(name='popularity', con=engine, if_exists='append', index=False)